<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Add Task</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body class="container" style="margin-top: 50px;">
	<% if (messages.error) { %>
	<div class="alert alert-danger" role="alert"><%- messages.error %></div>
	<% } %>
    <div class="card"> 
    	<div class="card-header">
			Add Task
		</div>
        <div class="card-body">
            <form action="/works/add" method="post">
                <div class="form-group">
                    <label>employeeID:</label>
                    <input type="number" class="form-control" name="employeeID" value="<%= employeeID %>" autocomplete="off">
                </div>

                <div class="form-group">
                    <label>taskEnd:</label>
                    <input type="datetime-local" class="form-control" name="taskEnd" value="<%= taskBegin %>" autocomplete="off">
                </div>

                <div class="form-group">
                    <label>taskEnd:</label>
                    <input type="datetime-local" class="form-control" name="taskEnd" value="<%= taskEnd %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>estimatedTime:</label>
                    <input type="number" class="form-control" name="estimatedTime" value="<%= estimatedTime %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>taskDetail:</label>
                    <input type="text" class="form-control" name="taskDetail" value="<%= taskDetail %>" autocomplete="off">
                </div>
                <div class="form-group">

                    <label>projectID:</label>
                    <% if(projectID) { %>
                    <input type="number" class="form-control" name="projectID" value="<%= projectID %>" autocomplete="off">
                        <% } else {%>
                            Not Cookie
                        <% } %>%>
                </div>

                <div class="form-group">
                    <label>taskTypeID:</label>
                    <select name="taskTypeID" value="<%= taskTypeID %>" >
                        <option value=1>project</option>
                        <option value=2>development</option>
                        <option value=3>project & development</option>
                    </select>
                    <br><br>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-info" value="Add"/>
                </div>
            </form>
        </div>
    </div>
</body>
</html>