<!DOCTYPE html>
<html lang="en">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Project List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

<div class="card-body">
    <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert"><%- messages.error %></div>
    <% } %>
                        <form action="/works/projectList" method="post">
                            <div class="card-body">
                                <% if(data.length) { %>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Project ID</th>
                                            <th scope="col">Project Name</th>
                                            <th scope="col">Revenue</th>
                                            <th scope="col">Estimated Time</th>
                                            <th scope="col">Begin</th>
                                            <th scope="col">End</th>
                                            <th scope="col">Customer</th>
                                            <th scope="col">Customer Address</th>
                                            <th scope="col">PM</th>
                                            <th scope="col">PM EmployeeID</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <% for(var i = 0; i< data.length; i++) { %>
                                            <tr>
                                                <th scope="row"><%= (i+1) %></th>
                                                <td><%= data[i].projectID%></td>
                                                <td><%= data[i].projectName%></td>
                                                <td><%= data[i].revenue%></td>
                                                <td><%= data[i].time%></td>
                                                <td><%= data[i].begin%></td>
                                                <td><%= data[i].end%></td>
                                                <td><%= data[i].customer%></td>
                                                <td><%= data[i].customerAddress%></td>
                                                <td><%= data[i].pm%></td>
                                                <td><%= data[i].pmEmployeeID%></td>
                                                <td>
                                                    <a class="btn btn-success edit" href="/works/taskList/<%=data[i].projectID%>">Task List</a>
                                                </td>
                                            </tr>
                                        <% } %>
                                        </tbody>
                                    </table>
                                <% } %>

                                <!-- if result is empty -->
                                <% if(!data.length) { %>
                                    <p class="text-center">No Task found!</p>
                                <% } %>
                            </div>
                        </form>

</div>

</body>
</html>
